/*------------QUAN TRI------------------*/
.show-grid [class^="col-"]{
	padding-top:10px;
	padding-bottom:10px;
	background-color: #eee;
	border: 1px solid #ddd;
	background-color: rgba(86,61,124,.15);
	border: 1px solid rgba(86,61,124,.1);
}
.dangnhap{
   padding-top: 20vh;
   min-height:60vh;
   text-align: center;
}
#DungHanhBrand{
  color: white;
}
#qtriBody{
  background-color:white;
  background-image: none;
}
#qtri{
  margin-top: 7vh;
}
#qtriLeft{
  max-height: 100vh;
  background-color: white;
  font-family: font_Buttermilk;
  font-weight:bolder;

}
.qtriLeftBar {
    width: 100%;
    background-color: inherit;
    padding-top: 4vh;
}
.qtriLeftBarLi{
  color: black;
  text-decoration: none !important;
}
#qtriLeft2{
  margin-top: 4vh;
  height: 41vh;
}
#qtriPanel a{
  color: black;
}
#qtriRight{
  min-height: 100vh;
  background-color: white;
  text-align: center;
  border-left: solid 1px;
  position: relative;
}
#qtriRight div span{
  font-family: font_Buttermilk;
  font-weight: bold;
}
#formthemSanPham{
  text-align: left;
}
#formSuaSanPham{
  text-align: left;
}
#modal-body-form{
    padding-top: 4vh;
}
#qLyCay{
  min-height: 35vh;
  padding-top: 4vh;
}
#qLyDonH{
  min-height: 35vh;
  padding-top: 4vh;
}
#qLyUser{
  min-height: 35vh;
  padding-top: 4vh;
}
#qLyThongKe{
  min-height: 35vh;
  padding-top: 4vh;
}
/*------------THEM SAN PHAM--------------------*/
#themSanPhamMoi{
  padding-top: 4vh;
}
.panel-gray{
  background: #003d99;
  color: white;
}
/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#btnThemSanPhamGroup{
  text-align: left;
  padding-bottom: 4vh;
}
/*-------------SUA XOA SAN PHAM-----------------------*/
#suaxoasanpham{
    padding-top: 4vh;
    position: relative;
}
.myscroll{
    width: 100%;
    height: 70vh;;
    overflow: scroll;
    overflow-x: hidden;
    text-align: left;
}
.dropdown-menu-center{
  margin-left: 3vh;
  margin-right: 3vh;
  max-width: 100%;
}
/*-------THEM LOAI SAN PHAM------------------*/

#formThemLoaiSP{
  text-align: left;
}
#loaiSPHCTitle{
  padding-top: 4vh;
}
#loaiSPHC{
  height: 30vh;
  overflow: scroll;
  overflow-x: hidden;
  text-align: left;
}
#formThemNguoiDung{
  text-align: left;
}
/*----------------------------------------------*/
.myscroll2{
  width: 100%;
  height: 35vh;;
  overflow: scroll;
  overflow-x: hidden;
  text-align: left;
}
/*------------------------------------------------*/
#btnSuaNguoiDungGroup{
  text-align: left;
}
#formSuaNguoiDung{
  text-align: left;
}
#formSuaNguoiDung2{
  text-align: left;
}
.colInXdh1{
	font-family: 'Roboto Condensed', sans-serif;
  border-radius: 1px 20px;
  background:#d6d6c2;
}
.colInXdh{
	font-family: 'Roboto Condensed', sans-serif;
  border-radius: 1px 20px;
  background: #f5f5f0;
}
#locDonHang{
	font-family: 'Roboto Condensed', sans-serif;
  min-height: 10vh;
  padding-top: 2vh;
  background-color: #f5f5f0;
  margin-bottom: 4vh;
}
#hienThiDonHang{
  margin-top: 4vh;
  height: 70vh;
  overflow: scroll;
  overflow-x: hidden;
}
#hienThiTonKho{
	margin-top: 4vh;
  height: 65vh;
  overflow: scroll;
  overflow-x: hidden;
}
#locTonKho{
	text-align: left;
	margin-top: 2vh;
}
.donHang{
	 font-family: 'Lobster', cursive;
	 text-align: left;
	 padding-top: 2vh;
	 padding-bottom: 2vh;
	 border-bottom: 1px solid black;
	 border-top: 1px solid black;
}
.sanPhamTonKho{
	font-family: 'Lobster', cursive;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
	border-bottom: 1px solid black;
}
.setSize{
	max-width: 50%;
}
#fileExcel{
	text-align: left;
}
#thongKeChiTiet{
		margin-top: 4vh;
}
.tkChiTiet{
	font-family: 'Lobster', cursive;
	text-align: left;
	min-height: 8vh;
}
#thongKeChiTiet{
	margin-bottom: 4vh;
}
.mark{
	color: red;
}
/*------------------------------------*/
#tkspBanChay{
	height: 50vh;
	overflow-y: scroll;
	text-align: left;
}
#dsKhachQuen{
	height: 50vh;
	overflow-y: scroll;
	text-align: left;
	border-bottom: 1px solid black;
	margin-bottom: 4vh;
}
.tkspBanChay::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.tkspBanChay::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.tkspBanChay::-webkit-scrollbar-thumb
{
	background-color: #F90;
	background-image: -webkit-linear-gradient(45deg,
	rgba(255, 255, 255, .2) 25%,
	transparent 25%,
	transparent 50%,
	rgba(255, 255, 255, .2) 50%,
	rgba(255, 255, 255, .2) 75%,
	transparent 75%,
	transparent)
}
/*---------------------------------------------*/
#suaKhachQuen{
	margin-top: 4vh;
	margin-bottom: 4vh;
}
.khachQuen{
	padding-top: 1vh;
	padding-bottom: 1vh;
	border-top: 1px dashed black;
	text-align: center;
}
#themKhachQuen{
	margin-top: 4vh;
	margin-bottom: 4vh;
}
/*----------------------------------------------*/
#danhSachBaiViet div:hover{
			background-color: yellow;
}
#dsBaiViet{
	height: 50vh;
	overflow: scroll;
	overflow-x: hidden;
	margin-bottom: 4vh;
}
