RewriteEngine on
RewriteRule "admin/quantri.html" "hienthi/quantri.php"
RewriteRule "admin/login.html" "hienthi/dangnhap.php"
RewriteRule "^quantri/([a-zA-z0-9]+).html$" "hienthi/quantri.php?page=$1"
